<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma CSS links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Local CSS link -->
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Globe Plotter</title>
</head>

<body>
    {{{ body }}}
    <!-- Optional JavaScript -->
    <!--google maps api-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
</body>

</html>