<h1 id="promptText"></h1>
<ul>
    <li id="act0" data-index="0"><button hidden="true"></button></li>
    <li id="act1" data-index="1"><button hidden="true"></button></li>
    <li id="act2" data-index="2"><button hidden="true"></button></li>
    <li id="act3" data-index="3"><button hidden="true"></button></li>
    <li id="act4" data-index="4"><button hidden="true"></button></li>
</ul>