<h1>Add an activity</h1>
<ul>
    <li><button hidden="true"></button></li>
    <li><button hidden="true"></button></li>
    <li><button hidden="true"></button></li>
    <li><button hidden="true"></button></li>
    <li><button hidden="true"></button></li>
</ul>