<section class="section">
    <div class="container middle">
        <div id="city-card">
            <h1 id="tripName"></h1><button id="addCity" class="button-card">Add a city!</button>
        </div>
        <section id="citiesSection">
        </section>
        <a href="/dashboard"><button class="button-card">Done!</button></a>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/assets/js/changetrip.js"></script>