<section class="section">
    <div class="container middle">
        <h1 id="tripName"></h1>
        <section id="citiesSection"></section>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/assets/js/currenttrip.js"></script>