<h1>Trip Name</h1>
<h3>City Name</h3>
<ul>
    <li>Activity 1 <button>Complete!</button></li>
    <li>Activity 2 <button>Complete!</button></li>
    <li>Activity 3 <button>Complete!</button></li>
    <li>Activity 4 <button>Complete!</button></li>
    <li>Activity 5 <button>Complete!</button></li>
</ul>
<button>City Complete!</button>