<!--Once this interfaces with the db, user will be replace by the username-->
<h1>Welcome, user!</h1>
<h3>Trips in Planning</h3>
<ul>
    <li><a href="/edittrip">New trip</a></li>
</ul>
<h3>Trips in Progress</h3>
<ul></ul>
<h3>Trips Completed</h3>
<ul></ul>
<a href="/">Log Out</a>
<script src="/assets/js/dashboard.js"></script>