<!--Once this integrates with the database, all cities will display in the ul and the trip name will display at the top-->
<h1>Trip Name</h1>
<h3>Cities</h3>
<ul>
    <a href="/searchcity">Add a city!</a>
</ul>
<a href="/dashboard">Go back</a>