<section class="section">
    <div class="container middle">
        <div class="field" id="login-card">
            <label class="label" for="email-input">Email</label>
            <div class="control">
                <input class="input" type="text" id="email-input" placeholder="you@you.com">
            </div>
            <label class="label" for="password-input">Password</label>
            <div class="control">
                <input class="input" type="password" id="password-input" placeholder="password">
            </div>
            <br>
            <button type="submit" id="submitBtn">Let's go!</button>
            <p><i>If you're new, sign up <a href="/signup">here!</a></i></p>
        </div>
</section>

<!--axios cdn-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--load the script file!-->
<script src="/assets/js/login.js"></script>