<h2>Find a City!</h2>
<form action="/action_page.php">
    <label for="city">Search for a place!</label><br>
    <input type="text" id="city" name="city" placeholder="Bowling Green"><br>
    <input type="submit" id="sbmBtn" value="Submit">
</form>
<p id="city"></p><button id="addCity" hidden="true">Add this city!</button>