<form>
    <h5>Sign Up</h5>
    <label for="email-input">Email address</label>
    <input type="email" id="email-input" placeholder="Email">
    <label for="password-input">Password</label>
    <input type="password" id="password-input" placeholder="Password">
    <button type="submit">Login</button>
    <p>Or log in <a href="/">here</a></p>
</form>