html {
    scroll-behavior: smooth;
}

html, body {
    background-color: #fffeb3;
}

h1 {
    font-size: x-large
}

.middle {
    padding-left: 20%;
    padding-right: 20%
}

.hero {
    background-color: 	#d11141;
    border-bottom: 5px #6fcb9f solid
}

.hero-body .container {
    align-self: center;
    margin-left: 25%;
    margin-right: 25%
}

.navbar {
    background-color: 	#d11141;
    border-bottom: 5px #6fcb9f solid;
    padding-left: 5%;
    padding-right: 5%
}

a.navbar-item {
    color: #F5F4C0;
}

.title {
    color: #F5F4C0;
}

.buffer {
    height: 80px
}

#login-card {
    padding: 3%;
    background-color: #d11141;
    border: 5px #6fcb9f solid;
    color: #fffeb3;
    text-align: center;
}

#search-card {
    padding: 3%;
    background-color: #d11141;
    border: 5px #6fcb9f solid;
    color: #fffeb3;
    text-align: center;
}

#trip-table {
    margin-left: 20%;
    margin-right: 20%
}

.column h1 {
    text-align: center;
}

#trip-card h1 {
    font-weight: 2
}

#trip-card {
    margin: 10px;
    padding: 3%;
    background-color: #6fcb9f;
    border: 5px #d11141 solid;
    color: black;
    text-align: center;
}

.label {
    color: white;
}

#city-pic {
    height: 200px;
    width: 200px;
    margin-left: 30%;
    border-radius: 50%;
}

.hero .title {
    color: #fffeb3;
    font-size: xxx-large;
    font-style: italic
}

.section {
    margin-left: 15%;
    margin-right: 20%
}

#past-actions {
    border-right: 1px gray solid
}

.choice-card {
    padding: 8px;
    width: 100%;
    border-radius: 25%;
    box-shadow: 2px 2px grey;
    color: black
}

path {
    fill: #fffeb3
}

#restaurants {
    background-color: #00aedb;
}

#drinks {
    background-color: #a200ff	
}

#parks {
    background-color: #8ec127;
}

#museums {
    background-color: #f47835
}

#current-actions {
    margin-left: 10px
}
