html {
    scroll-behavior: smooth;
}

html, body {
    font-family: overpass;
    color: black;
        background-image: url('../imgs/dashboard.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.section {
    margin-left: 10%;
    margin-right: 10%
}

h1 {
    font-size: x-large
}

.wrapper {
    text-align: center
}

.middle {
    padding-left: 20%;
    padding-right: 20%
}

.padded {
    padding-left: 20%;
    padding-righT: 20%
}

.hero {
    background-color: 	#CC0033;
    border-bottom: 5px #6fcb9f solid
}

.hero-body .container {
    align-self: center;
    margin-left: 25%;
    margin-right: 25%
}

.navbar {
    background-color: 	#000000;
    border-bottom: 5px white solid;
    padding-left: 5%;
    padding-right: 5%;
    height: 120px
}

.navbar-item img {
    max-height: 100px
}

.navbar-menu {
    background-color: black
}

a.navbar-item:hover {
    background-color: white;
    color: black
}

a.navbar-item {
    color: white;
    background-color: black;
    border: 0px
}

#burger {
    background-color: white;
}

.title {
    color: white;
}

.buffer {
    height: 150px
}

#login-card {
    padding: 3%;
    background-color: #0000FF;
    border: 5px white solid;
    color: white;
    text-align: center;
}

#search-card {
    padding: 3%;
    background-color: #009900;
    border: 5px white solid;
    border-radius: 5%;
    color: white;
    text-align: center;
}

#trip-table {
    margin-left: 20%;
    margin-right: 20%
}

.column h1 {
    text-align: center;
}

#trip-card h1 {
    font-weight: 2
}

#trip-card {
    margin: 10px;
    padding: 3%;
    background-color: #009900;
    border: 5px white solid;
    border-radius: 5%;
    color: white;
    text-align: center;
}

.addBtn {
    margin: 10px;
    padding: 3%;
    background-color: #FF6600;
    border: 2px black solid;
    color: black;
    text-align: center;
}

.button-card {
    margin: 10px;
    padding: 3%;
    background-color: #FF6600;
    border: 2px black solid;
    color: black;
    text-align: center;
}

.label {
    color: white;
}

#city-pic {
    height: 200px;
    width: 200px;
    margin-left: 30%;
    border-radius: 50%;
}

.hero .title {
    color: #fffeb3;
    font-size: xxx-large;
    font-style: italic
}

.section {
    margin-left: 15%;
    margin-right: 20%
}

#past-actions {
    border-right: 1px gray solid
}

.choice-card {
    padding: 8px;
    width: 100%;
    border-radius: 25%;
    box-shadow: 2px 2px grey;
    color: black
}

path {
    fill: #fffeb3
}

#restaurants {
    background-color: #00aedb;
}

#drinks {
    background-color: #a200ff	
}

#parks {
    background-color: #8ec127;
}

#museums {
    background-color: #f47835
}

#current-actions {
    margin-left: 10px
}
